.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#ffffff;
    padding:20px 30px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    margin-bottom:25px;
}

.header-left{
    display:flex;
    align-items:center;
    gap:14px;
}

.header-logo{
    width:55px;
    height:55px;
    object-fit:contain;
}

.logo-text{
    display:flex;
    flex-direction:column;
}

.logo-text h2{
    margin:0;
    font-size:24px;
    font-weight:700;
    color:#111827;
}

.logo-text span{
    font-size:13px;
    color:#64748b;
}

.search-box{
    flex:1;
    margin:0 30px;
}

.search-box input{
    width:100%;
    padding:14px 18px;
    border:1px solid #dbe4f0;
    border-radius:12px;
    outline:none;
    font-size:15px;
}

.currency-box select{
    padding:12px 18px;
    border:1px solid #dbe4f0;
    border-radius:12px;
    background:#fff;
    cursor:pointer;
}
